<%- include("../partials/header")%>

	<div class="container">
		<form action="/destinations/<%=destination.id%>?_method=PUT" method="POST" class="form-signin">
			<h1 class="h3 mb-3 font-weight-normal text-center">Edit <%=destination.name%> </h1>
			<div class="form-group">
				<label for="inputName">Name</label>
				<input type="text" id="inputName" class="form-control" value="<%=destination.name%>" name="destination[name]" required autofocus>
			</div>
			
			<div class="form-group">
				<label for="inputImage">Image</label>
				<input type="text" id="inputImage" class="form-control" value="<%=destination.image%>" name="destination[image]" required autofocus>
			</div>
			
			<div class="form-group">
				<label for="inputDescription">Description</label>
				<textarea type="text" id="inputDescription" class="form-control" name="destination[description]" rows="5" cols="70" required autofocus><%=destination.description%></textarea>
			</div>
			
			<div class="form-group">
				<label for="inputType">Type</label>
				<select id="inputType" class="form-control" name="destination[typeOf]" required autofocus>
					<option value="restaurant"<% if(destination.typeOf === "restaurant") { %> selected <% } %>>Restaurant</option>
					<option value="shop" <% if(destination.typeOf === "shop") { %> selected <% } %>>Shop</option>
					<option value="temple" <% if(destination.typeOf === "temple") { %> selected <% } %>>Temples</option>
					<option value="shrine" <% if(destination.typeOf === "shrine") { %> selected <% } %>>Shrine</option>
					<option value="city" <% if(destination.typeOf === "city") { %> selected <% } %>>Other city</option>
					<option value="hotel" <% if(destination.typeOf === "hotel") { %> selected <% } %>>Hotel</option>
					<option value="ryokan" <% if(destination.typeOf === "ryokan") { %> selected <% } %>>Ryokan</option>
				</select>
			</div>
			
			<div class="form-group">
				<label for="inputCost">Cost</label>
				<input type="number" id="inputCost" class="form-control" value="<%=destination.cost%>" name="destination[cost]" min="0" step="1.0" autofocus>
			</div>
			
			<div class="form-group">
				<label for="seasonInput">Seasonal Destination?</label>
				<input id="seasonInput" class="seasonBox" type="checkbox" onchange="valueChanged()">
				<select class="seasonOptions" style="display:none" name="destination[season]">
					<option value="none" <% if(destination.season === "none") { %> selected <% } %>>None</option>
					<option value="winter"<% if(destination.season === "winter") { %> selected <% } %>>Winter</option>
					<option value="spring"<% if(destination.season === "spring") { %> selected <% } %>>Spring</option>
					<option value="summer"<% if(destination.season === "summer") { %> selected <% } %>>Summer</option>
					<option value="fall"<% if(destination.season === "fall") { %> selected <% } %>>Fall</option>
				</select> <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="Check if seasonal"></i>
			</div>
			
			<div class="form-group">
				<label for="inputStreetAddress">Address</label>
				<input type="text" id="inputStreetAddress" class="form-control" value="<%=destination.address%>" name="destination[address]" required autofocus>
			</div>
	
			<!--Will all you to adjust later when expanding, for now all prefectures will be Kyoto
			<div class="form-group">
				
				<label for="inputPrefecture" class="sr-only">Prefecture</label>
				<input type="text" id="inputPrefecture" class="form-control" value="Kyoto prefecture" name="destination[prefecture]" required autofocus>
			</div>-->
			
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</form>
		<div class="form-signin">
			<a href="/destinations/">Go back</a>
			<p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
		</div>
	</div>
	
		
<%- include("../partials/footer")%>